<style>{{>xbody_css_debug}}</style>

<div class="container">
  <div class="row">
    <h1 class="center">{{ l.title }}</h1>
    <div class="container center">
      <img alt="logo" width="90%" src="{{cdn}}/img/logo.png">
    </div>
    <div class="clearfix" style="padding:1rem"></div>
    <!-- login / logout -->
    <div class="container center">
      {{^user.id}}{{>login}}{{/user.id}}{{#user.id}}{{>logout}}{{/user.id}}
    </div>
  </div>
</div>

<script>
(function (w, $, undefined) {
  'use strict';

  // *** DELAYED FUNCTIONS ***

  GSC._fn.push(function () {
    // add nonce to all anchors
    $('.container').find('a').each(function() {
      var h = $(this).attr('href');
      var nonce = '?nonce=' + Math.round(Math.random() * 10000);
      if ((h.indexOf('?') == -1) && (h.indexOf('http') != -1)) {
        $(this).attr('href', h + nonce);
      }
    });
  });

})(window, $);

</script>